#time {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 200px;
}

#main {
    display: flex;
}

#iphone {
    display: flex;
    margin: 0 auto;
    padding-top: 5px;
    width: 280px;
    height: 550px;
    background-color: rgb(35, 35, 35);
    border-radius: 40px;
    border: black 7px solid;
    background-image: linear-gradient(to bottom right, rgb(239, 62, 91),white);
    box-shadow: 8px 8px 8px rgb(31, 30, 30);
}


#island {
    margin: 0 auto;
    width: 120px;
    height: 32px;
    background-color: black;
    margin-top: 5px;
    border-radius: 40px;
    flex-wrap: wrap;
    border: black 2px solid;
}

#time {
    margin-bottom: 80%;
    font-size: 80px;
    color: white;
    text-align: center;
}

#time1 {
    height: 70px;
}

#back {
    display: flex;
    margin: 0 auto;
    padding-top: 5px;
    width: 280px;
    height: 550px;
    background-color: rgb(35, 35, 35);
    border-radius: 40px;
    border: black 3px solid;
    background-color: #97cabd;
    background-image: linear-gradient(to left, grey, black);
    box-shadow: 8px 8px 8px rgb(31, 30, 30);
}

#camera {
    height: 145px;
    width: 130px;
    margin-right: 150px;
    margin-left: 27px;
    border-radius: 2rem;
    background-color: white;
    border: rgb(31, 30, 30) 4px solid;
    background-color: rgb(70, 70, 70);
    display: grid;
    place-items: left;
    box-shadow: 5px 5px 5px rgb(31, 30, 30);
}

#cam1, #cam2, #cam3 {
    height: 45px;
    width: 45px;
    background-color: black;
    border-radius: 50%;
    box-shadow: 3px 3px 5px rgb(31, 30, 30);
}
#cam1 {
    margin-top: 1px;
}

#cam2 {
    margin-left: 60px;
}

#logo {
    height: 100%;
    margin-top: 90px;
    margin-left: 150px;
    color: white;
}