<%- include('partials/head') %>
<%- include('partials/navbar') %>
<body>
    <h1>Home Page <%= 4+5+1%> and <%= 'hello world'.toUpperCase() %></h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, voluptas atque rem voluptatibus aliquid itaque alias dolorum tenetur esse illo quis beatae soluta eos id quae quos iste explicabo tempora eaque doloribus! Ex, vitae laudantium, distinctio est iste facilis nemo possimus quasi sapiente praesentium corporis et odio quas recusandae eius!</p>

</body>
</html>