<%- include('partials/head') %>
<%- include('partials/navbar') %>
<body>
    <h1>All the Users</h1>
    <ul>
        <% for (let user of users) { %>
            <li><%= user %></li>
        <% } %>
    </ul>
    
</body>
</html>